.banner {
    background: url("./Img/coffee-g1914ae4b9_1920.jpg") no-repeat center / cover;
    width: 100%;
    padding: 300px;
}

.banner__titulo{
    display: flex;
    justify-content: center;
    padding: 40px;
}

@media screen and (max-width: 810px){
    .banner {
        width: 100%;
        padding-top: 3%;
}
}