.press {
    background-color: rgb(47, 34, 34);
    display: flex;
    justify-content: center;
    padding: 5%;
}

.welcome {
    color: white;
    margin-bottom: 15px;
}

.discover {
    color: white;
    position: absolute;
    margin-top: 35px;
}

@media screen and (max-width: 768px) {
    .welcome {
        justify-content: center;
    }

    .discover {
        justify-content: center;
        font-size: small;
    }
}